<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @a.cw %></h2>

<h2>Vowels: <%= @a.count_of_vowels %> </h2>

<h2>Consonants: <%= @a.count_of_consonants %></h2>

<h2>Most Common Letter: <%= @a.most_used_letter.keys[0].upcase %>, used <%= @a.most_used_letter.values[0] %> times</h2>
